/* Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* variables */
:root{
    --cyan: #2ab2af;
    --cyan2: #2ab2afdf;
    --brightYellow: #c0df34;
    --lightGray: 	#e5eff5;
    --lightGray2: #e5eff580;
    --grayishBlue: 	#98a6bd;

}

/*Estilo geral da página */
body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* container */
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2rem;
}

/* Title style */
.title{
    font-size: 1.375rem;
    font-weight: 700;
}


/* Footer style */
.attribution{ 
    font-size: .6875rem; text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}