.subscription{
    box-sizing: border-box;
    background-color: var(--cyan);
    color: var(--lightGray);
    height: 40vh;
    width: 100vw;
}


@media screen and (min-width: 768px) {
    .subscription{
        height: 60%;
        width:  50%;
    }
}
@media screen and (min-width: 1024px) {
    .subscription{
        height: 55%;
        width:  50%;
    }
}

